{% extends 'base.html' %}

{% block title %}

<title>Profile page</title>
{% endblock %}


{% block content %}
<section class="hero">
    <h1>Welcome to My Profile page</h1>

    {% for x in fe_data %}
    <div class="profile-card">
        <p><strong>Full Name:</strong>{{x.name}}</p>
        <p><strong>Email:</strong>{{x.email}}</p>
         <p><strong>Collage:</strong>{{x.Collage}}</p>
        <p><strong>Password:</strong>{{x.password}}</p>
        <p><strong>Confirm Password:</strong>{{x.confirm_password}}</p>
    </div>
    <br>
    <br>
    <br>
    <br>

    {% endfor %}

</section>


{% endblock%}